.members-container {
    background-color: black;
    color: white; 
    padding-top: 4rem;
}

.members-content {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    justify-content: center; 
    padding: 0 1rem; 
    margin-bottom: 500px; 
}

.members-title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center; 
    margin-bottom: 1rem; 
    width: 100%; 
    margin-left: 3px; 
}

@media only screen and (max-width: 768px) {
    .members-content {
        flex-direction: column; 
        align-items: center; 
    }
    
    .members-title {
        margin-left: 0; 
    }

    .members-container {
        margin-bottom: 200px;
    }
}
