.room{
    min-height: 70vh;
    background-color:black;
}

#room-title {
  color: hsl(0, 0%, 100%);
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 9px;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin-top: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#room-title:hover {
  letter-spacing: 15px;
}

#room-title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 0px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

#room-header hr{
  margin-bottom: 35px;
}


#input-form{
display: flex;
flex-direction: column;
margin-bottom: 20px;
justify-content: center;
align-items: center;
margin-left: 590px;
border-radius: 4px;
}

input::placeholder {
  color: black ;
  border: none;
  font-size: 12px;
}

#input-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: none;
  height: 35px;
  outline: none;
  padding-left: 10px;
  font-weight: 500;
  border-radius: 10px;
  margin-left: 580px;
}

#input-form:focus {
  border: 5px solid skyblue;
}

#form-send button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-size: 16px;
  margin-left: 700px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

#form-send button img{
  height: 15px;
}

@media (max-width: 768px) {
  #input-form {
      width: 200px;
      margin-left: 100px;
      height: 40px;
  }
  #room-title{
    font-size: 20px;
    margin-left: 0px;
    
  }
  #form-send button{
    margin-top: 50px;
    margin-left: 145px;
    height: 10px;
    width: 100px;
  }
  
  input::placeholder {
    color: black ;
    border: none;
    font-size: 15px;
  }
}
