.room{
    min-height: 70vh;
    background-color:black;
}

#room-title {
  color: hsl(0, 0%, 100%);
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 9px;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin-top: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#room-title:hover {
  letter-spacing: 15px;
}



#room-title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 0px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

#room-header hr{
  margin-bottom: 35px;
}

#room-form{
  width: 300px;
  margin-left: 620px;
}


#form-send button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-size: 16px;
  margin-left: 700px;
  gap: 10px;
  border: none;
  margin-top: 50px;
  border-radius: 50px;
  background: linear-gradient(270deg, #4fedff, #6dfa95);
  cursor: pointer;
}

#form-send button img{
  height: 15px;
}

@media (max-width: 768px) {
  .room {
    overflow-x: hidden; 
  }
  #room-form {
      width: 200px;
      margin-left: 100px;
      height: 40px;
  }
  #room-title{
    font-size: 20px;
    margin-left: 0px;
    
  }
  #form-send button{
    margin-top: 50px;
    margin-left: 145px;
    height: 10px;
    width: 100px;
  }
  
  input::placeholder {
    color: black ;
    border: none;
    font-size: 15px;
  }
}





.input-group {
  margin-bottom: 20px;
  width: 100%;
  position: relative; 
}

.input-group input,
.input-group textarea {
  border: none;
  border-bottom: 1px solid white; 
  background-color: transparent; 
  color: white;
  padding: 10px 0; 
  width: 100%; 
}

.input-group label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #ffffff;
  transition: all 0.3s ease; 
}

.input-group label {
  opacity: 0;
  transform: translateY(-20px);
}


.input-group.hide label {
  opacity: 1;
  transform: translateY(0);
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: white;
}
