.join {
    background-color: #0f172a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    margin-top: 100px;
}

.card {
    margin-top: 20px; 
    width: 80%;
    max-width: 500px;
    overflow: auto;
    padding: 20px;
}

.join .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.join h1 {
    color: white;
    margin-bottom: 20px;
    text-align: left;
    z-index: 1001;
}

.join .line {
    color: white;
    margin-bottom: 5px;
}

.join input[type="text"],
.join textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #21364A;
    color: white;
    border: none;
}

.musical-interest-input,
.experience-level {
    min-height: 100px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
}

.button-container button {
    margin-left: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.button-container .submit {
    background-color: #0D7DF2;
}

.button-container .cancel {
    background-color: #21364A;
}

@media only screen and (max-width: 600px) {
    .join {
        padding: 20px;
    }
    .card {
        width: 100%;
    }
}
